{% import '../macros/rinoa-macros.j2' as vault %}
{% set vault_addr = 'https://vault.trez.wtf' %}
{% set secrets_path = 'rinoa-docker/env' %}

url: http://0.0.0.0:8080
login: localhost
password: {{ vault.vault_secret('env', 'CROWDSEC_LOCAL_API_KEY') }}