{% import '../macros/rinoa-macros.j2' as vault %}
{% set vault_addr = 'https://vault.trez.wtf' %}
{% set secrets_path = 'rinoa-docker/env' %}

url: https://api.crowdsec.net/
login: {{ vault.vault_secret('env', 'CROWDSEC_ONLINE_PASSWORD') }}
password: {{ vault.vault_secret('env', 'CROWDSEC_ONLINE_PASSWORD') }}