GITEA__database__DB_TYPE=
GITEA__database__HOST=
GITEA__database__NAME=
GITEA__database__PASSWD=
GITEA__database__USER=
GITEA__mailer__ENABLED=
GITEA__mailer__FROM=
GITEA__mailer__IS_TLS_ENABLED=
GITEA__mailer__PASSWD=
GITEA__mailer__PROTOCOL=
GITEA__mailer__SMTP_ADDR=
GITEA__mailer__SMTP_PORT=
GITEA__mailer__USER=
GITEA_HOMEPAGE_API_KEY=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_USER=
USER_GID=
USER_UID=
