CONFIG_FILE=
DOCKER_HOST=
GITEA__database__DB_TYPE=
GITEA__database__HOST=
GITEA__database__NAME=
GITEA__database__PASSWD=
GITEA__database__USER=
GITEA_INSTANCE_URL=
GITEA__mailer__ENABLED=
GITEA__mailer__FROM=
GITEA__mailer__IS_TLS_ENABLED=
GITEA__mailer__PASSWD=
GITEA__mailer__PROTOCOL=
GITEA__mailer__SMTP_ADDR=
GITEA__mailer__SMTP_PORT=
GITEA__mailer__USER=
GITEA_RUNNER_NAME=
GITEA_RUNNER_REGISTRATION_TOKEN=
GITEA_SQ_BOT_CONFIG_PATH=
GITEA_SQ_BOT_PORT=
OG_EXTERNAL_URL=
OG_GIT_DEFAULT_BRANCH=
OG_GITEA_CLIENT_KEY=
OG_GITEA_NAME=
OG_GITEA_SECRET=
OG_GITEA_URL=
OG_LOG_LEVEL=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_USER=
USER_GID=
USER_UID=
