LDAP_AUTHENTICATION=
LDAP_BINDDN=
LDAP_BINDPASSWORD=
LDAP_URL=
LDAP_USER_BASEDN=
LDAP_USER_EMAILATTRIBUTE=
LDAP_USER_REALNAMEATTRIBUTE=
LDAP_USER_REQUEST=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_USER=
SONAR_JDBC_PASSWORD=
SONAR_JDBC_URL=
SONAR_JDBC_USERNAME=
SONAR_SECURITY_REALM=
