{% set vault_addr = 'https://vault.trez.wtf' %}
{% set secrets_path = 'rinoa-docker/env' %}


source: journalctl
journalctl_filter: 
  - "--directory=/var/log/host/"
labels:
  type: syslog
---
filenames:
  - /var/log/swag/*
labels:
  type: nginx
---
