storage:
  backend: s3
  s3:
    bucket_name: pyroscope
    endpoint: minio:9000
    region: us-east-fh-pln
    access_key_id: {{ vault_secrets['MINIO_PYROSCOPE_STORAGE_ACCESS_KEY'] }}
    secret_access_key: {{ vault_secrets['MINIO_PYROSCOPE_STORAGE_SECRET_KEY'] }}
    insecure: true

analytics:
  reporting_enabled: false