containers:
  actualbudget:
  adguard:
  apprise-api:
  archivebox:
  audiobookshelf:
  authelia:
  authelia-pg:
  bazarr:
  beszel:
  beszel-agent:
  bitmagnet:
  bitmagnet-pg-db:
  bitwarden:
  bluesky-pds:
  browserless:
  bytebase:
  bytestash:
  castopod:
  cloudflared:
  cloudflareddns:
  convertx:
  cronicle:
  crowdsec:
  crowdsec-dashboard:
  cyber-chef:
  czkawka:
  dawarich-app:
  dawarich-pg-db:
  dawarich-sidekiq:
  delugevpn:
  dockerproxy:
  docker-volume-backup:
  duplicati:
  explo:
  fastenhealth:
  flaresolverr:
  ghost_blog:
  gitea:
  gitea-db:
  gitea-runner:
  gitea-sonarqube-bot:
  gluetun:
  gotify:
  graylog:
  graylog-datanode:
  guacamole:
  homepage:
  hugo:
  immich-server:
  immich-machine-learning:
  immich-pg-db:
  immich-public-proxy:
  immich-power-tools:
  influxdb2:
  invidious:
  invidious-sig-helper:
  invidious-db:
  it-tools:
  jellyfin:
  jitsi-etherpad:
  jitsi-jibri:
  focus.meet.jitsi:
  jitsi-jigasi:
  video.meet.jitsi:
  xmpp.meet.jitsi:
  meet.jitsi:
  joplin-db:
  joplin:
  librechat-api:
  librechat-vectordb:
  librechat-rag-api:
  libretranslate:
  lidarr:
  lidify:
  linkstack:
  lldap:
  loggifly:
  maloja:
  manyfold:
  mariadb:
  mastodon:
  mastodon-pg-db:
  meilisearch:
  minio:
  mixpost:
  mongodb:
  multi-scrobbler:
  n8n:
  navidrome:
  netalertx:
  nextcloud-aio-mastercontainer:
  ollama:
  ombi:
  paperless-ngx:
  pgbackweb:
  pgbackweb-db:
  plantuml-server:
  portainer:
  portall:
  postal-smtp:
  postal-web:
  postal-worker:
  prowlarr:
  radarec:
  radarr:
  reactive-resume:
  reactive-resume-pg:
  readarr:
  redis:
  redlib:
  rocketchat:
  sabnzbdvpn:
  scraperr:
  scraperr-api:
  scrutiny:
  searxng:
  semaphore:
  sonarqube:
  sonarqube-pg-db:
  sonarr:
  sonashow:
  speedtest-tracker:
  stable-diffusion-download:
  stable-diffusion-webui:
  stirling-pdf:
  swag:
  tandoor-recipes:
  tandoor-pg:
  unmanic:
  uptimekuma:
  hc-vault:
  wallabag:
  wallos:
  watchtower:
  web-check:
  youtubedl:
global_keywords:
  keywords:
    - panic
  keywords_with_attachment:
    - fatal
notifications:
  apprise:
    url: gotify://gotify/{{ lookup('community.hashi_vault.vault_kv2_get', 'env', engine_mount_point='rinoa-docker', url=vault_addr, token=vault_token_cleaned)['secret']['APPRISE_GOTIFY_TOKEN'] }}    # Any Apprise-compatible URL (https://github.com/caronc/apprise/wiki)

# settings are optional because they all have default values
settings:
  log_level: INFO               # DEBUG, INFO, WARNING, ERROR
  notification_cooldown: 5      # Seconds between alerts for same keyword (per container)
  attachment_lines: 20          # Number of Lines to include in log attachments
  multi_line_entries: true      # Detect multi-line log entries
  disable_restart: false        # Disable restart when a config change is detected
  disable_start_message: false  # Suppress startup notification
  disable_shutdown_message: false  # Suppress shutdown notification
  disable_restart_message: false   # Suppress config reload notification