{% set vault_addr = https://vault.trez.wtf %}
{% set secrets_path = rinoa-docker/env %}

# If not using the docker compose example, adjust these values for connecting ZITADEL to your PostgreSQL
Database:
  postgres:
    User:
      # If the user doesn't exist already, it is created
      Username: 'zitadel'
      Password: "{{ lookup('community.hashi_vault.vault_kv2_get', token=token, url=vault_url, mount_point=secrets_path, key='ZITADEL_DB_PASSWORD') }}"
    Admin:
      Username: 'root'
      Password: "{{ lookup('community.hashi_vault.vault_kv2_get', token=token, url=vault_url, mount_point=secrets_path, key='ZITADEL_DB_ADMIN_PASSWORD') }}"