{% import '../macros/rinoa-macros.j2' as vault %}
{% set vault_addr = 'https://vault.trez.wtf' %}
{% set secrets_path = 'rinoa-docker/env' %}

hosts:
  - 1513629884013:
      url: "https://wazuh.manager"
      port: 55000
      username: wazuh-wui
      password: {{ vault.vault_secret('env', 'WAZUH_API_PASSWORD') }}
      run_as: false
