{% import '../macros/rinoa-macros.j2' as vault %}
{% set vault_addr = 'https://vault.trez.wtf' %}
{% set secrets_path = 'rinoa-docker/env' %}

urls:
  - gotify://gotify/{{ vault.vault_secret('env', 'APPRISE_GOTIFY_TOKEN') }}
  - mailto://{{ vault.vault_secret('env', 'POSTAL_SMTP_AUTH_USER') }}:{{ vault.vault_secret('env', 'POSTAL_SMTP_AUTH_PASSWORD') }}@trez.wtf25?smtp=postal-smtp&from=noreply@trez.wtf